
*, *:before, *:after {
  box-sizing: border-box;
}

.container-main {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 50%;
  margin: 0 40% 0 10%;
}

body {
  background-color: rgba(187,187,187,.5);
}
